In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Ouverture du fichier 
df = pd.read_csv("data/labels.csv",",",encoding='utf-8', low_memory=False)

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24783 entries, 0 to 24782
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          24783 non-null  int64
 1   count               24783 non-null  int64
 2   hate_speech         24783 non-null  int64
 3   offensive_language  24783 non-null  int64
 4   neither             24783 non-null  int64
 5   class               24783 non-null  int64
 6   tweet               24783 non-null  object
dtypes: int64(6), object(1)
memory usage: 1.3+ MB

In [76]:
df

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
0,0,3,0,0,3,2,!!! RT @mayasolovely: As a woman you shouldn't...
1,1,3,0,3,0,1,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2,2,3,0,3,0,1,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3,3,3,0,2,1,1,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4,4,6,0,6,0,1,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...,...,...,...,...,...,...,...
24778,25291,3,0,2,1,1,you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779,25292,3,0,1,2,2,"you've gone and broke the wrong heart baby, an..."
24780,25294,3,0,3,0,1,young buck wanna eat!!.. dat nigguh like I ain...
24781,25295,6,0,6,0,1,youu got wild bitches tellin you lies
24782,25296,3,0,0,3,2,~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

In [77]:
df.describe()

,Unnamed: 0,count,hate_speech,offensive_language,neither,class
count,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000,24783.000000
mean,12681.192027,3.243473,0.280515,2.413711,0.549247,1.110277
std,7299.553863,0.883060,0.631851,1.399459,1.113299,0.462089
min,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000
25%,6372.500000,3.000000,0.000000,2.000000,0.000000,1.000000
50%,12703.000000,3.000000,0.000000,3.000000,0.000000,1.000000
75%,18995.500000,3.000000,0.000000,3.000000,0.000000,1.000000
max,25296.000000,9.000000,7.000000,9.000000,9.000000,2.000000

In [78]:
df['hate_speech'].value_counts(normalize=False)

0    19790
1     3419
2     1251
3      287
4       21
5        7
6        5
7        3
Name: hate_speech, dtype: int64

In [79]:
df[df['count'] == 9]

,Unnamed: 0,count,hate_speech,offensive_language,neither,class,tweet
80,80,9,0,7,2,1,"""@BestProAdvice: The facts on tattoos...tattoo..."
713,724,9,0,0,9,2,#HOLIDAYSEASONLIVE @ShyGlizzy @plies Shy Glizz...
798,814,9,1,0,8,2,#WeAreRepublicNotRegime #POTUS BO violated USA...
1094,1118,9,1,8,0,1,&#8220;@Adrianmayer99: Fucking pussy&#8221; @J...
1136,1161,9,1,8,0,1,"&#8220;@Benkasso: I'll beat the pussy up, that..."
...,...,...,...,...,...,...,...
24006,24503,9,1,8,0,1,"i seen a nigga dressed to impress, hop out da ..."
24204,24708,9,0,9,0,1,man kills mother of 2 after she reveals she's ...
24356,24861,9,0,2,7,2,pretty girls wit bird brains....what a waste smh
24563,25071,9,0,9,0,1,this bitch
24654,25166,9,0,8,1,1,weeknd makes songs for the hoes

In [89]:

strings = df['tweet'][1136].split(' ')
print(strings)
for s in strings:
    print(''.join(e for e in s if e.isalnum()))
    
df['tweet_tab_message'] = [[word for word in tweet.split(' ')] for tweet in df['tweet']]
df['tweet_tab_message_with_out_special_char'] = [[''.join(e for e in word if e.isalnum()) for word in tweet.split(' ') if word.find("@") == -1] for tweet in df['tweet']]
df['tweet_tab_tag'] = [[word for word in tweet.split(' ') if word.find("@") != -1] for tweet in df['tweet']]
df['tweet_tab_message_with_out_special_char'] = [[''.join(e for e in word if e.isalnum()) for word in tweet.split(' ') if word.find("@") == -1] for tweet in df['tweet']]
print(df['tweet_tab_tag'][1136])

['&#8220;@Benkasso:', "I'll", 'beat', 'the', 'pussy', 'up,', "that's", 'a', 'hook', 'right', 'thur&#8221;', '&#128064;']
8220Benkasso
Ill
beat
the
pussy
up
thats
a
hook
right
thur8221
128064
['&#8220;@Benkasso:']

In [91]:
print('Tweet : ' + df['tweet'][1094])
print('Tab  Word of Message : ')
print(df['tweet_tab_message'][1094])
print('Tab of Tag : ')
print(df['tweet_tab_tag'][1094])
print('Tab of Tag : ')
print(df['tweet_tab_message_with_out_special_char'][1094])

Tweet : &#8220;@Adrianmayer99: Fucking pussy&#8221; @JosephNoonan2
Tab  Word of Message :
['&#8220;@Adrianmayer99:', 'Fucking', 'pussy&#8221;', '@JosephNoonan2']
Tab of Tag :
['&#8220;@Adrianmayer99:', '@JosephNoonan2']
Tab of Tag :
['Fucking', 'pussy8221']